name: Validate Notes Keys

on:
  pull_request:
    paths:
      - 'android_beta/*.yml'
      - 'android_release/*.yml'
      - 'beta/*.yml'
      - 'esr/*.yml'
      - 'release/*.yml'
      - 'tools/validate_notes_keys.py'
      - '.github/workflows/validate-keys.yml'
  push:
    branches:
      - master
    paths:
      - 'android_beta/*.yml'
      - 'android_release/*.yml'
      - 'beta/*.yml'
      - 'esr/*.yml'
      - 'release/*.yml'
      - 'tools/validate_notes_keys.py'
      - '.github/workflows/validate-keys.yml'

permissions:
  contents: read

jobs:
  validate:
    name: Validate `notes` keys
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          cache: pip

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pyyaml

      - name: Validate YAML notes keys
        run: |
          python tools/validate_notes_keys.py
